
.header{
    width: 1280px;
    margin: 0 auto;
    padding-top: 64px;
}

.header-link{
    text-decoration: none;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.header-blue{
    color: #4BCAFF;
}

.header-menu{
    margin-top: 38px;
    height: 72px;
    background: #35444F;
    border: none;
}

.menu-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-link{
    list-style-type: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 23px 30px 23px 30px;
    border-left: 1px solid #FFFFFF;
}

.menu-link-last{
    border-right: 1px solid #FFFFFF;
}

.link-buttom{
    text-decoration: none;
    color: #FFFFFF;
}


.main{
    width: 1280px;
    margin: 0 auto;
}

.main-container{
    margin-top: 48px;
    display: flex;
    gap: 52px;
}

.main-aside{
    display: flex;
    flex-direction: column;
    width: 344px;
    height: 400px;
    border: 1px solid #000000;
    background: rgba(0, 0, 0, 0.0001);
    justify-content: space-around;
    
}

.main-menu-link{
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    text-decoration: none;
    margin-left: 44px;
}



.image-block{
    width: 885px;
    height: 530px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image{
    width: 320px;
    height: 381px;
}

.text-container{
    width: 885px;
    margin-top: 37px;
    margin-left: 395px;
}

.text{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer{
    width: 1280px;
    margin: 0 auto;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: start;
    align-items: center;
}
.footer-menu{
    margin-left: 40px;
}

 .footer-link{
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
    color: #0C1927;
    margin-right: 20px;
} 
.copyright{
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin-left: 200px;
}

